/*============    Шрифт    ===========*/
.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.light {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.med {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
