/*============    Шрифт    ===========*/

	.bold {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
	}
	.light {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
	}
	.med{
		font-family: 'Roboto', sans-serif;
		font-weight: normal;
	}

/*============    Кольори    ===========*/
	@white: #fff;
	@ocean: #11b2b2;
	@black: #666666;
	@light_green: #4ab848;
	@green: #3ba639;
	@grey: #5a6f6f;
	@light_grey: #b5b5b5;
	@light_ocean: #ecf7f7;
	@bottom_border: #d9e9e9;
	@dark_okean: #415959;
	@arrow_desible: #edeeee;
	@footer_black: #2b2b2b;
	@footer_li: #dbdbdb;
	@footer_bottom_border: #4d4d4d;
	@footer_eyar: #bfbfbf;
	@dark_ocean: #0D8E8E;
	@dropdawn_li: #ADF4F4;

/*============    Загальні    ===========*/
	a:hover,
	a:visited,
	a:focus,
	a:active{
		text-decoration: none;	
	}
	span:hover,
	span:visited,
	span:focus,
	span:active{
		decoration: none;	
	}
	li{
		list-style: none;
	}
	.my_padding{
		width: 1160px;
		margin-left: auto;
		margin-right: auto; 
	}
	h3{
		color: @ocean;
		font-size: 30px;
		text-transform: uppercase;
	}

	

/*============    Header    ===========*/
	header{
		.top_line{
			height: 65px;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: @white; 
			.my_padding;
			margin-bottom: 30px;
			.header_contact{
				padding-left: 0;
				li{
					margin: 5px 0;
					a{
						color: @ocean;
						font-size: 17px;
					}
					i{
						color: @light_grey;
						padding-right: 5px;
					}
				}
				.email{
					.bold;
					vertical-align: bottom;
				}
				.icon_skype{
					font-size: 17px;
				}
				.icon_email{
					vertical-align: top;
					margin-top: 5px;
				}
			}
			.top_line_phone{
				padding-left: 0;
				padding-right: 0;
				.header_telephone{
					padding-left: 0;
					li{ 
						margin: 5px 0;
						a{
							margin: 5px 0;
						    font-size: 17px;
						    color: @black;
						}
						i{
							color: @light_grey;
							padding-right: 4px;
							font-size: 20px;
						}
						.mobile{
							padding-left: 16px;
						}
					}
				}
			}
		}
		.top_line_btn{
			padding-top: 10px;
			padding-left: 35px;
			.sing_up_header{
				.btn_sing_up_header{
					background: @light_green;
				    border: none;
				    border-bottom: 3px solid @green;
				    color: @white;
				    .bold;
				    cursor: pointer;
				    text-decoration: none;
				    outline: 0;
				    display: inline-block;				    
				    font-size: 16px;
				    border-radius: 5px;
				    height: 40px;
				    padding: 0 20px;
				    line-height: 40px;
				    -webkit-transition: all .35s ease;
				    -o-transition: all .35s ease;
				    transition: all .35s ease;
				    &:hover{
				    	background-color: @green;
				    }
				}
			}
		}
		.top_line_select_btn{
			padding-top: 13px;
			.top_line_dropdown{
				.top_line_dropdown_btn{
					border: none;
					.bold;
					-webkit-transition: all .35s ease;
				    -o-transition: all .35s ease;
				    transition: all .35s ease;
					background: transparent;
					&:active,
					&:visited,
					&:focus{
						background: transparent;
					}
					&:hover{
						background: transparent;			
						/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
						-moz-box-shadow: 0px 0px 10px @light_green;
						-webkit-box-shadow: 0px 0px 10px @light_green;
						box-shadow: 0px 0px 10px @light_green;
						/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
					}
					i{
						padding-right: 5px;
						color: @light_grey;
					}
					span{
						color: @ocean;
					}
				}
			}
		}
		.line_top_menu{
			background-color: @ocean;
			margin-bottom: 0;			
			.second_line{				
				.my_padding;
				.second_line_nav{					
					.top_nav{
						position: relative;
						padding-left: 0;
						margin-bottom: 0;
						height: 60px;
						li{
							display: inline-block;
							height: 60px;

							a{
								.bold;
								position: relative;
							    display: block;							   
							    color: #fff;
							    text-transform: uppercase;
							    font-size: 14px;							    
							    padding: 21px 9px;
							}
							&:hover{
								background-color: @dark_ocean;
							}
						}
						.dropdown_menu_li{
							background-color: @dropdawn_li;
							width: 100%;
							// -webkit-transition: all .35s ease;
							// -o-transition: all .35s ease;
							// transition: all .35s ease;		
							a{
								color: @ocean;
							}
						}
						
					}	
				}
				.sb-search {
					position: relative;
					margin-top: 10px;
					width: 0%;
					min-width: 60px;
					height: 60px;
					float: right;
					overflow: hidden;
					-webkit-transition: width 0.3s;
					-moz-transition: width 0.3s;
					transition: width 0.3s;
					-webkit-backface-visibility: hidden;
				}

				.sb-search-input {
					position: absolute;
					top: 0;
					right: 0;
					border: none;
					outline: none;
					background: #fff;
					width: 100%;
					height: 60px;
					margin: 0;
					z-index: 10;
					padding: 20px 65px 20px 20px;
					font-family: inherit;
					font-size: 20px;
					color: #2c3e50;
				}

				.sb-search-input::-webkit-input-placeholder {
					color: #efb480;
				}

				.sb-search-input:-moz-placeholder {
					color: #efb480;
				}

				.sb-search-input::-moz-placeholder {
					color: #efb480;
				}

				.sb-search-input:-ms-input-placeholder {
					color: #efb480;
				}

				.sb-icon-search,
				.sb-search-submit  {
					width: 60px;
					height: 60px;
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					padding: 0;
					margin: 0;
					line-height: 60px;
					text-align: center;
					cursor: pointer;
				}

				.sb-search-submit {
					background: #fff; /* äëÿ IE */
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
				    filter: alpha(opacity=0); /* IE 5-7 */
				    opacity: 0;
					color: transparent;
					border: none;
					outline: none;
					z-index: -1;
				}

				.sb-icon-search {
					color: #fff;
					background: #e67e22;
					z-index: 90;
					font-size: 22px;
					font-family: 'icomoon';
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					-webkit-font-smoothing: antialiased;
				}

				.sb-icon-search:before {
					content: "\e000";
				}

				.sb-search.sb-search-open,
				.no-js .sb-search {
					width: 100%;
				}

				.sb-search.sb-search-open .sb-icon-search,
				.no-js .sb-search .sb-icon-search {
					background: #da6d0d;
					color: #fff;
					z-index: 11;
				}

				.sb-search.sb-search-open .sb-search-submit,
				.no-js .sb-search .sb-search-submit {
					z-index: 90;
				}


																.second_line_search{
																	.search_a{
																		position: relative;
																		padding-top: 23px;
																		padding-left: 74px;
																	}    
																}				
				
			}
		}
		.header_brad{
			height: 270px;
			background: url("../img/header_img.jpg") no-repeat center center;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			-o-background-size: cover;
			-ms-background-size: cover;
			background-size: cover;
			.header_breadcrumb{
				.my_padding;
				.my_breadcrumb{
					background: transparent;
					color: @white;
					li{						
						color: @white;
						font-size: 14px;
						a{
							color: @white;
							font-size: 14px;							
						}
					}
				}
			}
			.title{
				h1{
					.bold;
					font-size: 60px;
					color: @white;
				}
			}			
		}
	}

/*============    Main    ===========*/
	section#main{
		margin-top: 40px;
		.main_row{
			.my_padding;
			.aside_nav{
				.aside_nav_ul{
					padding-left: 0;
					li{
						.bold;
						padding-top: 15px;
					    padding-bottom: 15px;
					    padding-left: 20px;
				    	padding-right: 50px;
				    	border-bottom: 0.5px solid @bottom_border;
				    	-webkit-transition: all .5s ease;
					    -o-transition: all .5s ease;
					    transition: all .5s ease;
				    	a{
				    		color: @dark_okean;
				    		font-size: 16px;
				    	}
				    	&:hover{
				    		cursor: pointer;
				    		background-color: @ocean;
				    		a{
				    		color: @white;
				    		}
				    	}				    	
				    	
					}
					.last{
						border: none;
					}
				}
			}
			.aside_form{
				background-color: @light_ocean;
				margin-top: 20px;
				margin-bottom: 25px;
				.aside_form_control{
					padding-right: 10px;
					padding-left: 10px;
					padding-bottom: 10px;
					h3{
					padding-top: 15px;
					text-transform: uppercase;
					margin: 5px 0 15px 0;				    
				    text-align: center;
					}
					input{					
					    border-radius: 5px;
					    background: @white;
					    border: 1px solid @ocean;				    
					    width: 100%;
					    height: 35px;
					    padding: 0 10px;
					    font-size: 14px;
					    margin-bottom: 10px;					    
					    -webkit-transition: all 0.3s ease;
					    -o-transition: all 0.3s ease;
					    transition: all 0.3s ease;				    
					    color: #415959;				    
					}
					button{
						background: #4ab848;
					    border: none;
					    border-bottom: 3px solid #3ba639;
					    color: @white;
					    cursor: pointer;
					    text-decoration: none;
					    .bold;
					    outline: 0;
					    display: inline-block;
					    vertical-align: middle;
					    white-space: nowrap;				    
					    font-size: 16px;
					    border-radius: 5px;
					    height: 40px;
					    padding: 0 20px;
					    line-height: 40px;					    
					    -webkit-transition: all .35s ease;
					    -o-transition: all .35s ease;
					    transition: all .35s ease;
						
						&:hover{
							background-color: @green;
						}					    
					}

				}
				
			}
			.aside_img{
				img{
					width:100%;
					margin-bottom: 70px;					
				}
				
			}
		}
		.egg_catalogs{
			h3{
				margin-top: 0;
				font-size: 28px;
			}			
			p{
				color: @dark_okean;
				margin-bottom: 25px;
				font-size: 16px;
			}
			.show_database_btn{
				margin-bottom: 60px;
				background: @light_green;			    
			    border-bottom: 3px solid @green;
			    cursor: pointer;
			    display: inline-block;
			    border-radius: 5px;
			    height: 40px;
			    padding: 0 20px;
			    -webkit-transition: all .35s ease;
			    	-o-transition: all .35s ease;
			    	transition: all .35s ease;
			    a{
			    	.bold;
			    	color: @white;
			    	line-height: 40px;
			    	text-decoration: none;
			    	font-size: 15px;
			    }
			    &:hover{
			    	background: @green;
			    }
			}
			.carousel-indicators{
				top: 345px;
				li{					
					border-color: @ocean;					
				}
				.active{
					background-color: @ocean;
				}				
			}
			img{
				width: 100%;
				height: 335px;
			}
		}
		.my_carousel_control_left{
			height: 52px;
			width: 52px;			
			position: absolute;
			left: -17px;
    		top: 130px;
			.carousel_control{
				display: block;
				width: 52px;
				height: 52px;
				background: rgb(145, 159, 179, 0.9);
				i{
					font-size: 50px;
					color: @arrow_desible;
				}
				&:hover{
					background-color: @ocean;
				}
			}			
		}
		.my_carousel_control_right{
			height: 52px;
			width: 52px;			
			position: absolute;
			left: 443px;
    		top: 130px;
			.carousel_control{
				display: block;
				width: 52px;
				height: 52px;
				background: rgb(145, 159, 179, 0.9);
				i{
					font-size: 50px;
					color: @arrow_desible;
				}
				&:hover{
					background-color: @ocean;
				}
			}			
		}
		
	}

/*============    Program    ===========*/
	section#program{				
		background: url("../img/rectangle.jpg") no-repeat center center;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		.program_class{
			width: 920px;
			margin-right: auto;
			margin-left: auto;
			h3{
				text-align: center;
				color: @white;
				font-weight: 100;
				margin-bottom: 0;
				span{
					.bold;
				}
			}
			.program_container{
				background-color: rgba(13, 214, 214, 0.502);

				width: 275px;
				height: 250px;
				margin-left: 7px;
				margin-right: 7px;
				margin-top: 30px;
				margin-bottom: 70px;
				h4{
					.bold;
					font-size: 26px;
					color: @white;
					padding-top: 65px;
					text-align: center;
				}
				a{
					background: transparent;				    
				    border: 1px solid @white;
				    color: @white;
				    cursor: pointer;
				    text-decoration: none;
				    .bold;
				    outline: 0;
				    display: inline-block;
				    font-size: 16px;
				    border-radius: 5px;
				    height: 40px;
				    padding: 0 20px;
				    line-height: 40px;					    
				    -webkit-transition: all .35s ease;
				    -o-transition: all .35s ease;
				    transition: all .35s ease;
				    margin-left: 61px;
				    
				    margin-top: 10px;
					&:hover{
						background-color: @ocean;
					}
				}			    
			}	
		}
		
	}

/*============    Footer    ===========                             ПЕРЕВІРИТИ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	footer{
		background-color: @footer_black;
		.footer_top{
			border-bottom: 2px solid @footer_bottom_border;
			.footer_info{			
				.my_padding;
				ul{
					padding-top: 40px;
					padding-left: 0;
					padding-bottom: 20px;
					
					li{
						a{			
						    color: @footer_li;
						    font-size: 14px;
						    line-height: 24px;
						    text-decoration: none;
						    -webkit-transition: all .3s ease;
						    -o-transition: all .3s ease;
						    transition: all .3s ease;
						}
					}
				}
				span{
					.bold;
					color: @white;
					font-size: 16px;
				}
			}
		}
		.footer_contact{
			.my_padding;
			p{
				.light;
				color: @footer_eyar;
    			font-size: 14px;
    			padding-top: 39px;
			}
			.footer_social{
				a{
					display: inline-block;
					width: 24%;
					height: 95px;
					-webkit-transition: all .3s ease;
				    -o-transition: all .3s ease;
				    transition: all .3s ease;

					i{
						font-size: 26px;
						padding-top: 30px;
						color: @light_grey;					
					}					
				}
				.facebook:hover{
					background-color: green;				
				}
				.twitter:hover{
					background-color: green;				
				}
				.youtube:hover{
					background-color: green;				
				}
				.google:hover{
					background-color: green;				
				}
			}
			.our_logo{
				padding: 0;
				.otakoyi{
					span{
						color: @light_grey;
						float: right;
						padding-top: 39px;
						strong{
							color: @footer_eyar;
						}						
					}
					img{
						position: absolute;
						left: 390px;
    					top: 40px;    					
					}
				}
			}
		}
	}
/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}



